---
title: Boxes
layout: base.njk
---
<ul class="entry-list">
{% for item in collections.boxes %}
  <li>
    <a href="{{ item.url | url }}">{{ item.data.title }}</a>
    <span class="entry-date">{{ item.date | readableDate }}</span>
  </li>
{% endfor %}
</ul>
